.progress-container {
    position: fixed;
    /* top: 10px;  */
    left: 50%; 
    transform: translateX(-50%); 
    /* width: 80%; */
    height: 20px;
    background: #ddd;
    z-index: 1000;
    /* border: none;
    border-radius: 20px; */
    top: 0px;
    width: 100%;
}

.progress-bar {
    height: 20px;
    background: linear-gradient(to right, #ff5733, #ffbd69);
    width: 0%;
    /* border: none;
    border-radius: 20px; */
    transition: width 0.2s ease-out;
}
