.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.selected-row {
    background-color: #dff0d8 !important; /* 연한 초록색 배경 */
    font-weight: bold;
}
